/*
Color Palette from colorbrewer2.org.
#ffffe5 - very light orange
#fe9929 - med. orange
#c6dbef - light blue
#225ea8 - med. blue
#980043 - dark pink
*/

body {
  background-color: #ffffe5;
  color: #225ea8;
  text-align: center;
  margin: 0;
}
h1 {
  color: #980043
}

#body-container {

}
#header {

}
#profile-picture {

}
#welcome-text {

}
#research-interests {

}
