/*
Color Palette from colorbrewer2.org.
#ffffe5 - very light orange
#fe9929 - med. orange
#c6dbef - light blue
#225ea8 - med. blue
#980043 - dark pink
*/

body {
  background-color: #ffffe5;
  color: #225ea8;
  text-align: center;
  margin: 0;
}
h1 {
  color: #980043
  padding: 5px;
  margin: 0;
}

#body-container {
  background-color: #c6dbef
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  border: 2px solid #225ea8
  border-radius: 25px;
  overflow: hidden;
}
#header {

}
#profile-picture {

}
#welcome-text {

}
#research-interests {

}
